.ant-table-tbody{
    background-color: white !important;
}
.c-sidebar .c-sidebar-brand{
    background-color: white;
}
.react-tabs__tab--selected{
    border-color: #27558e !important;
    background: #27558e !important ;
}
.react-tabs__tab-list {
    border-bottom: 2px solid #27558e !important;
    display: flex;
}

.react-tabs__tab{
    padding: 6px 81px  !important;
    font-size: medium;
    margin-top: 7px;
    border-radius: 5px 5px 0 0;
    list-style: none;
}
.c-header{
    border-bottom: 1px solid #ebedef !important;
}
.c-subheader{
    background: #ebedef;
}


#text-area {
    font-family: sans-serif, monospace;
    font-size: 20px;
    min-height: 70px;
    min-width: 500px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #c1c1c1;
}